<div id=>
<h1>All Articles</h1>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<%= link_to "View Tags", tags_path, class: "view_tags" %><br /><br />
</div>
<ul id="articles">
    <% @articles.each do |article| %>
        <li>
            <%= link_to article.title, article_path(article), class: "article_title", id: "article_#{article.id}" %>
            <span class="post-time">
                <%= article.created_at.strftime("Posted: %m/%d/%Y at %I:%M%p %Z") %>
            </span>
        </li>
        
    <% end %>
</ul>